h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    row-gap: 350px;

}

img {
    width: 100%;
    background: black;
    animation: fade 8s;
}

footer {
    text-align: center;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}