* {
    margin: 0;
}
.wrapper-style {
    display: grid;
    grid-template: auto 1.5fr 150px / 2fr 1fr;
    width: 60vw;
    height: 50vw;
    justify-self: center;
}

header {
    background-color: dimgray;
    grid-column: 1 / 3;
}

.header-wrapper {
    display: grid;
    grid-template-rows: auto auto;
}

/* .header-wrapper h4 {
    grid-row: 1 / 2;
}

.header-wrapper nav {
    grid-row: 2 / 3;

} */
.navegation {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    list-style: none;
    padding: 0;
    background-color: rgb(44, 10, 10);
}



/*.navegation li{
    flex: 1 1 auto;
    list-style: none;
    align-self: center;*/



a {
    display: block;
    padding: 0.8em;
    color: #247e44;
    text-decoration: none;
    
}


main {
    
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    
}

.main-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.left-side {
    background: darksalmon;
    grid-column: 1 / 2;
    grid-row: 1 / 1;    
}



.right-side {
    background: #efebe9;

}

footer {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    background-color: darkgray;
    text-align: center;
}


h4 {
    margin: 1rem;
}


